# *1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.*
#### (i) \*   
#### *(ii) 'hello'*
#### *(iii) -87.8*
#### *(iv) -*
#### *(v) /*
#### *(vi)     +*
#### *(vii) 6*

In [9]:
for key, value in {'(ii)':' hello', '(iii)':-87.8, '(vii)':6}.items():
    print(key,value,'\t',type(value))

print('are values')

(ii)  hello 	 <class 'str'>
(iii) -87.8 	 <class 'float'>
(vii) 6 	 <class 'int'>
are values

    (i)* , (iv)- , (v)/ and (vi)+ are expressions

# *2. What is the difference between string and variable?*

    'string' is a chain of characters, 'variable' is placeholder of this chain of characters that has a space reserved in the memory with vatiable as label.

# *3. Describe different data types.*

    In Python, there are following Data Tpes:
    
    |
    |-- Dictionary          (eg. {key1:'value1', key2:'value2'})
    |-- Boolean             (eg. True|1 and False|0)
    |-- Set                 (eg. {'items', 'without', 'repetatition'})
    |-- Numeric
    |        |
    |        |-- Integer    (eg. 1, 100, -300)
    |        |-- Complex    (eg. 1-3j, -5+6j)
    |        '-- Float      (eg. 3.05, -87.8)
    |
    '-- Sequence
             |-- String     (eg.'Chain of Characters with single', "double or", 
             |                """three quotes""", '''along with this.\n''' )
             |-- List       (eg. ['combination of', "numbers like", 1, 3, -89+3j, 
             |               "and multi layer lists, tuple, etc", [1,2,3,
             |                {'Sumanth': "Kashyap", 'Python':('Assignment',1)}]])
             '-- Tuple      (eg. ('tuple are', 'immtable', 'lists'))

# *4. What is an expression made up of? What do all expressions do?*

    An expression consists of combination of values, variables, operators, and calls to functions. It is an instruction that always evaluates down to a single value.

# *5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?*

    Expressions represent something, like a number, a string, or an instance of a class. Any value is an expression. Any value contained in that statement in an expression. 

    Anything that does something is a statement. Any assignment to a variable or function call is a statement. 

    spam = 10 is a statement while '10' is an expression

# *6. After running the following code, what does the variable bacon contain?*
#### *bacon = 22*
#### *bacon + 1*

In [2]:
bacon = 22
bacon + 1

23

In [3]:
bacon

22

    âˆµ bacon + 1 is not getting stored to bacon

# 7. What should the values of the following two terms be?
#### *'spam' + 'spamspam'*
#### *'spam' * 3*

Both statement yields same results.

In [4]:
'spam' + 'spamspam'

'spamspamspam'

In [5]:
'spam' * 3

'spamspamspam'

# 8. Why is eggs a valid variable name while 100 is invalid?

    100 cannot be a variable name because assigning a value to it is not logical. For example, if 100 = 30 is not a valid value assign process. print(100) in this case will yield the number and not the value that is supposedly been assigned.

    eggs on the other hand can be a valid value placeholder. Thus eggs = 30 is logical.

    This os a reason why we have variable naming condition as 

        * A variable name must start with a letter or the underscore character
        * A variable name cannot start with a number
        * A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
        * Variable names are case-sensitive (age, Age and AGE are three different variables)

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

    int(), float() and str() are the three required functions.

In [8]:
print(int('100'), float('78.9'), str(100))

100 78.9 100

# 10. Why does this expression cause an error? How can you fix it?
#### *'I have eaten ' + 99 + ' burritos.'*

    When concatenating strings with +, each of the values must me string type. since 99 is a numeric, it throws an error.

    To  fix it, we can convert the numeric value to string with str() function as

In [7]:
'I have eaten ' + str(99) + ' samosa.'

'I have eaten 99 samosa.'