#### 1. Set the variable test1 to the string 'This is a test of the emergency text system', and save test1 to a file named test.txt.

**Ans:**

In [1]:
test1 = 'This is a test of the emergency text system'

with open('test.txt', 'w') as textFile:
    textFile.write(test1)
    textFile.close()

In [2]:
# %load test.txt
This is a test of the emergency text system

#### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

**Ans:**

In [3]:
with open('test.txt', 'r') as textFile:
    test2 = textFile.read()

print(test2)
print(test1 == test2)

This is a test of the emergency text system
True

#### 3. Create a CSV file called books.csv by using these lines:
```txt
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
```

**Ans:**

In [4]:
text = '''title,author,year
Crime and Punishment,Fyodor Dostoevsky,1866
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''
            
with open('books.csv', 'w') as csvFile:
    csvFile.write(text)
    csvFile.close()

In [5]:
from pandas import read_csv
print(read_csv('books.csv').to_string(index=False))

                        title            author  year
         Crime and Punishment Fyodor Dostoevsky  1866
The Weirdstone of Brisingamen       Alan Garner  1960
       Perdido Street Station    China Miéville  2000
                        Thud!   Terry Pratchett  2005
           The Spellman Files         Lisa Lutz  2007
                   Small Gods   Terry Pratchett  1992

#### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

**Ans:**

In [6]:
import sqlite3
Connection_Obj = sqlite3.connect('books.db')

Cursor_Obj     = Connection_Obj.cursor()
Cursor_Obj.execute('''CREATE TABLE IF NOT EXISTS books 
               (title text, author text, year integer)''')

Connection_Obj.commit()
Connection_Obj.close()

#### 5. Read books.csv and insert its data into the book table.

**Ans:**

In [7]:
import csv
Connection_Obj = sqlite3.connect("books.db")
Cursor_Obj = Connection_Obj.cursor()
with open("books.csv","r") as file:
    books = csv.DictReader(file)
    for book in books:
        Cursor_Obj.execute("INSERT INTO books VALUES (?,?,?)",(book['title'],book['author'],book['year']))
Connection_Obj.commit()
Connection_Obj.close()

#### 6. Select and print the title column from the book table in alphabetical order.

**Ans:**

In [8]:
Connection_Obj = sqlite3.connect('books.db')

Cursor_Obj     = Connection_Obj.cursor()
for title in Cursor_Obj.execute('''SELECT title from books'''):
    print(title[0])

Connection_Obj.close()

Crime and Punishment
The Weirdstone of Brisingamen
Perdido Street Station
Thud!
The Spellman Files
Small Gods

#### 7. From the book table, select and print all columns in the order of publication.

**Ans:**

In [9]:
Connection_Obj = sqlite3.connect('books.db')

Cursor_Obj     = Connection_Obj.cursor()
for title in Cursor_Obj.execute('''SELECT * from books ORDER BY year'''):
    print(f'In the year {title[2]}, the book "{title[0]}" was published by author {title[1]}.')

Connection_Obj.close()

In the year 1866, the book "Crime and Punishment" was published by author Fyodor Dostoevsky.
In the year 1960, the book "The Weirdstone of Brisingamen" was published by author Alan Garner.
In the year 1992, the book "Small Gods" was published by author Terry Pratchett.
In the year 2000, the book "Perdido Street Station" was published by author China Miéville.
In the year 2005, the book "Thud!" was published by author Terry Pratchett.
In the year 2007, the book "The Spellman Files" was published by author Lisa Lutz.

#### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

**Ans:**

In [10]:
import sqlalchemy
Connection_Obj = sqlalchemy.create_engine('sqlite:///books.db')
print(Connection_Obj)

Engine(sqlite:///books.db)

#### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

**Ans:**

In [11]:
# !pip install redis
import redis
redisClient = redis.Redis()
redisClient.hset(name='test',key=None,value=None, mapping={
                'count':1,
                'name':'Fester Bestertester'}
          )
redisClient.hgetall('test')

{b'count': b'1', b'name': b'Fester Bestertester'}

#### 10. Increment the count field of test and print it.

**Ans:**

In [12]:
redisClient.hincrby(name='test', key='count' ,amount=1)
redisClient.hgetall('test')

{b'count': b'2', b'name': b'Fester Bestertester'}